<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'bookingform.css' %}">

    </head>
    <body>
        <center><h1 id="bookingform">BOOK NOW</h1></center>
        <div class="form-container">
           
            <form action="{% url 'bookingdata' %}" method="post">
                
                {% csrf_token %}
                <label for="name" id="name">NAME :</label><br><br>
                <input type="hidden" name="serviceid" id="" value="{{id}}">
                <input type="text" id="ifname" name="fname" placeholder="First" class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="ilname" name="lname" placeholder="Last" class="box"><br><br><br>
                <label for="email" id="email">E-MAIL :</label><br><br>
                <input type="mailto" id="iemail" name="email" placeholder="e-mail" class="box"><br><br><br>
                <label for="phno" id="phno">PH NO :</label><br><br>
                <input type="number" id="iphno" name="phno" placeholder="91+" class="box"><br><br><br>
                <label for="address" id="address">ADDRESS :</label><br><br>
                <input type="text" id="iaddress" name="address1" placeholder="House/Flat No" class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="iaddress" name="address2" placeholder="Lane/Locality" class="box">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="iaddress" name="address3" placeholder="City" class="box"><br><br><br><br> 
                <label for="date" id="date">SERVICE AND DATE-TIME :</label><br><br>
                <select id="servicerequired" name="serviceid" class="box"><br><br>
                    <option value="">Select service</option>
                    {% for i in data %}
                    <option value="{{i.id}}">{{i.Add_Services}}</option>
                    {% endfor %}
                  </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="datetime-local" id="date" name="date" class="box"><br><br>
                <center><input type="submit" id="booknowbutton" value="BOOK NOW"></center>
              
            </form>

        </div>

    </body>

</html>